<!DOCTYPE html>
html(lang="en")
	head
		include ../views/commons/header
		
		title Home
	body
		header
			include ../views/commons/navbar

		article
			div(class="container py-5 px-4")
				div(class="row rounded-lg overflow-hidden shadow")
					<!-- Users box-->
					div(class="col-5 px-0 hide-scroll")
						div(class="bg-white-c")

							div(class="bg-gray px-4 py-2 bg-white-c")
								p(class="h5 mb-0 py-1 text-center") Recent

							div#userbox(class="messages-box")
								div(class="list-group rounded-0" id="matchedUsers")

									a(href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0")
										div(class="media")
											img.img-cover(src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQgMxCPwCb8MwLHvgmo-Wi8XRWvWFxmas8oUw&usqp=CAU" alt="user" width="50" height="50" class="rounded-circle")
											div(class="media-body ml-4")
												div(class="d-flex align-items-center justify-content-between mb-1")
													h6(class="mb-0") Liam
													small(class="small font-weight-bold") 2 Jan
												p(class="font-italic text-muted mb-0 text-small") Looking for some booty

									a(href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0")
										div(class="media")
											img.img-cover(src="https://i.pinimg.com/originals/a1/32/5e/a1325ed5b0faf997902b0d336e1f68aa.jpg" alt="user" width="50" height="50" class="rounded-circle")
											div(class="media-body ml-4")
												div(class="d-flex align-items-center justify-content-between mb-1")
													h6(class="mb-0") Pc
													small(class="small font-weight-bold") 7 Feb
												p(class="font-italic text-muted mb-0 text-small") Where is Rem.

									a(href="#" class="list-group-item list-group-item-action list-group-item-light rounded-0")
										div(class="media")
											img.img-cover(src="https://www.jing.fm/clipimg/detail/453-4532504_kawaii-cute-anime-girl.png" alt="user" width="50" height="50" class="rounded-circle")
											div(class="media-body ml-4")
												div(class="d-flex align-items-center justify-content-between mb-1")
													h6(class="mb-0") Shane
													small(class="small font-weight-bold") 7 Feb
												p(class="font-italic text-muted mb-0 text-small") I call Hax.

					<!-- Chat Box-->
					div(class="col-7 px-0")
						div(id="chatDisplay" class="px-4 py-5 chat-box bg-white-c-2")
							<!-- Sender Message-->
							div(class="media w-50 mb-3")
								img.img-cover(src="https://i.pinimg.com/736x/5a/e2/a5/5ae2a545eb7bd167984c1dfc792e2776.jpg" alt="user" width="50" height="50" class="rounded-circle")
								div(class="media-body ml-3")
									div(class="bg-light rounded py-2 px-3 mb-2")
										p(class="text-small mb-0 text-muted") Test which is a new approach all solutions
									p(class="small text-muted") 12:00 PM | Aug 13

								<!-- Reciever Message-->
							div(class="media w-50 ml-auto mb-3")
								div(class="media-body")
									div(class="bg-primary rounded py-2 px-3 mb-2")
										p(class="text-small mb-0 text-white") Test which is a new approach to have all solutions
									p(class="small text-muted") 12:00 PM | Aug 13

						<!-- Typing area -->
						form(action="#" class="bg-light")
							div(class="input-group")
								input(type="text" placeholder="Type a message" id="inputMessage" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light")
								input(type="text" id="receiverId" value="" hidden)
								div(class="input-group-append" id="submitArea")
									button(id="sendButton" type="submit" class="btn btn-link" onclick="send()")
										i(class="fa fa-paper-plane")



		footer.bg-dark
			include ../views/commons/footer

		script
			include ../scripts/chats.js