<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		style
			include ../styles/base.css
		title Home
	body
		header
			include ../views/commons/navbar
		
		article
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, aliquam provident suscipit, praesentium molestias blanditiis itaque harum obcaecati veritatis nemo animi doloremque totam voluptatibus dolore ipsa. Repudiandae animi a quisquam.
		
		footer