.lobster {
	font-family: 'Lobster', cursive;
}

.lobster-2 {
	font-family: 'Lobster Two', cursive;
}

.caveat {
	font-family: 'Caveat', cursive;
}

.overflow {
	display: inline-block;
	overflow-wrap: break-word;
	display: inline-block;
	word-break: break-word;
}

.rem-profile {
	font-size: 1.5rem !important;
}

.rem-validation {
	font-size: 1.5rem !important;
}