.img-600 {
    max-width: 600px;
    max-height: 800px;
    object-fit: scale-down;
}

.img-400 {
    max-width: 400px;
    max-height: 600px;
    object-fit: scale-down;
}

.img-300 {
    max-width: 300px;
    max-height: 400px;
    object-fit: scale-down;
}

.img-cover {
	object-fit: cover;
}