.overflow {
    object-fit: contain;
}

.shadow {
    /* box-shadow: 0 0 20px 0 rgba(250, 250, 250, 0.2), 0 5px 5px 0 rgba(250, 250, 250, 0.24) !important; */
    padding: 15px;
}

.hero {
    /* background: url(https://images3.alphacoders.com/557/thumb-1920-55735.jpg) center / cover; */
    background-color: rgb(15, 14, 14);
}

.bg-color {
    background-color: rgb(15, 14, 14) !important;
}

.logo_use {
    width: 10rem !important;
    height: 2rem !important;
    object-fit: cover !important;
}

.svg_icon {
    width: 1rem !important;
    height: 1rem !important;
}

.bg_white {
    background-color: white !important;
    border-radius: 2%;
    /* width: 500px !important; */
    /* flex: auto !important; */
}

.bg_white_1 {
    background-color: white !important;
    border-radius: 2%;
    width: 500px !important;
    /* flex: auto !important; */
}

.bg_white_2 {
    background-color: white !important;
    border-radius: 1%;
    /* min-width: 800px !important; */
    /* flex: auto !important; */
}

.bg_white_3 {
  background-color: white !important;
  border-radius: 0 0 2% 2%;
  width: 500px !important;
  /* flex: auto !important; */
}

.img_carousel {
    max-width: 480px;
    max-height: auto;
    margin: auto;
    text-align: center;
    display: block;
    object-fit: fill !important;
}

.m_image {
    width: 480px;
    height: 640px;
    object-fit: contain;
    overflow-wrap: v;
}

.light-yellow {
    background-color: rgb(245, 197, 67);
}

.light-yellow-p {
    background-color: rgb(223, 163, 0);
}

.mid {
    text-align: center;
    margin: auto;
}

.search-margin {
    margin-top: 2.5%;
}

.pad {
    margin: 3px 0.5ex !important;
}

.borrow-btn {
    border: none !important;
}

.chat-box {
    background: white;
    margin: auto;
    width: 40%;
    height: 500px;
    overflow-y: scroll;
}

.chat-wrap {
    width: 300px;
    height: auto !important;
    white-space: normal !important;
    word-break: break-all !important;
}

.chat-t {
    margin: center;
    flex-grow: 0 !important;
    left: 50%;
    margin-left: -120px;
}

.chat-e {
    margin: center;
    flex-grow: 0 !important;
    left: 50%;
    /* margin-left: -50px; */
}

.right_m {
    text-align: right;
    justify-content: right;
}

.left_m {
    text-align: left;
    justify-content: left;
}

.tabcontent {
  display: none;
}

.slide-container {
  width: 100%;
  margin: auto; }

h3 {
  text-align: center; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
    align-items: center;
    justify-content: center;
    object-fit: contain;
    display: flex;
    height: 600px;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

/*  */

/* .slide-container {
    width: 480px;
    margin: auto;
}

.image-container {
    object-fit: contain;
    min-height: auto;
    max-height: 600px;
    align-items: center;
    justify-content: center;
} */

/* .img-center {
    margin-left: auto;
    margin-right: auto;
    display: block; 
} */

/*  */