<!DOCTYPE html>
html(lang="en")
	head
		include ../../views/commons/header

		title Forgot Password
	body
		header
			div
				h1.text-center.lobster Forgot Password
		article
			div.row.justify-content-center.align-items-center.text-center
				div
					div
						label.small(for="email") Email
						input.form-control(id="email" type="text" name="email" placeholder="email@gmail.com" autocomplete="email")
					button.btn.btn-primary(onclick="resetForm()") submit 
		footer 
			include ../../views/commons/footer

		script
			include include ../../../../scripts/reset.js